<div class="p-d-flex p-jc-between p-ai-center">
  <h2>Operators</h2>
  <button
    pButton
    label="Add New Screen"
    icon="pi pi-plus"
    (click)="addScreen()"
  ></button>
</div>

<p-table [value]="screens" [loading]="loading" [responsive]="true">
  <ng-template pTemplate="header">
    <tr>
      <th id="positionName">Screen Name</th>
      <th id="description">Description</th>
      <th id="services">Services</th>
      <th id="actions">Actions</th>
    </tr>
  </ng-template>
  <ng-template pTemplate="body" let-operator>
    <tr>
      <td>{{ operator.name }}</td>
      <td>{{ operator.description }}</td>
      <td>{{ operator.services.join(", ") }}</td>
      <td>
        <button
          pButton
          icon="pi pi-pencil"
          (click)="editScreen(operator._id)"
          label="Edit"
        ></button>
        <button
          pButton
          icon="pi pi-eye"
          (click)="viewScreen(operator._id)"
          label="View"
        ></button>
      </td>

    </tr>
  </ng-template>
</p-table>
