<div class="p-grid p-justify-center">
  <div class="p-col-12 p-md-6">
    <form [formGroup]="screenForm" (ngSubmit)="onSubmit()">
      <div class="p-field">
        <label for="name">Screen Name</label>
        <input
          id="name"
          pInputText
          formControlName="name"
          class="p-inputtext"
        />
        <small
          class="p-error"
          *ngIf="
            screenForm.get('name')?.invalid && screenForm.get('name')?.touched
          "
        >
          Screen Name is required
        </small>
      </div>

      <div class="p-field">
        <label for="description">Description</label>
        <input
          id="description"
          pInputText
          formControlName="description"
          class="p-inputtext"
        />
        <small
          class="p-error"
          *ngIf="
            screenForm.get('description')?.invalid &&
            screenForm.get('description')?.touched
          "
        >
          Description is required
        </small>
      </div>

      <div class="p-field">
        <label for="services">Services</label>
        <p-multiSelect
          id="services"
          formControlName="services"
          [options]="availableServices"
          optionLabel="name"
          optionValue="_id"
          placeholder="Select Services"
          [filter]="true"
          [showClear]="true"
        ></p-multiSelect>

        <small
          class="p-error"
          *ngIf="
            screenForm.get('services')?.invalid &&
            screenForm.get('services')?.touched
          "
        >
          At least one service must be selected
        </small>
      </div>

      <button
        pButton
        type="submit"
        label="Create Screen"
        icon="pi pi-check"
        class="p-button-success"
        [disabled]="screenForm.invalid"
      ></button>
    </form>
  </div>
</div>
