<form [formGroup]="serviceForm" (ngSubmit)="onSubmit()">
  <div class="p-fluid">
    <label for="name">Name</label>
    <input pInputText id="name" formControlName="name" />
    <small
      *ngIf="
        serviceForm.get('name')?.invalid && serviceForm.get('name')?.touched
      "
      class="p-error"
    >
      Name is required
    </small>

    <label for="description">Description</label>
    <input pInputText id="description" formControlName="description" />
    <small
      *ngIf="
        serviceForm.get('description')?.invalid &&
        serviceForm.get('description')?.touched
      "
      class="p-error"
    >
      Description is required
    </small>

    <label for="prefix">Prefijo *</label>
    <input pInputText id="prefix" formControlName="prefix" />
    <small
      *ngIf="
        serviceForm.get('prefix')?.invalid &&
        serviceForm.get('prefix')?.touched
      "
      class="p-error"
    >
      El prefijo es requerido
    </small>

    <label for="enterprise">Empresa *</label>
    <p-select
      id="enterprise"
      formControlName="enterprise"
      [options]="enterprises"
      optionLabel="name"
      optionValue="_id"
      placeholder="Selecciona una empresa"
      [disabled]="isEnterpriseAdmin"
    ></p-select>
    <small
      *ngIf="
        serviceForm.get('enterprise')?.invalid &&
        serviceForm.get('enterprise')?.touched
      "
      class="p-error"
    >
      La empresa es requerida
    </small>
    <small *ngIf="isEnterpriseAdmin" class="p-text-secondary">
      Su empresa ha sido asignada automáticamente
    </small>

    <button
      pButton
      type="submit"
      label="Guardar"
      class="p-mt-3"
      [disabled]="serviceForm.invalid"
    ></button>
  </div>
</form>
