<p-menubar [model]="items" styleClass="app-navbar">
  <ng-template pTemplate="start">
    <div class="navbar-logo">
      <img src="/assets/img/logo.png" alt="YourTurn Manager" class="logo-image" />
    </div>
  </ng-template>
  <ng-template pTemplate="end">
    <div class="user-section" *ngIf="currentUser">
      <div class="user-avatar">
        {{ currentUser.email?.charAt(0)?.toUpperCase() }}
      </div>
      <div class="user-info">
        <span class="user-email">{{ currentUser.email }}</span>
        <span class="user-roles" *ngIf="currentUser.roles?.length">
          {{ currentUser.roles.join(', ') }}
        </span>
      </div>
      <button
        pButton
        icon="pi pi-sign-out"
        (click)="logout()"
        class="btn-logout p-button-sm"
        pTooltip="Cerrar sesión"
        tooltipPosition="bottom"
      ></button>
    </div>
  </ng-template>
</p-menubar>
